:root {
	--unit-1: 4px;
	--unit-2: 8px; 
	--unit-3: 12px;
	--unit-4: 16px;
	--unit-5: 20px;
	--unit-6: 24px;
	--input-bg: rgba(0,0,0,.05);
	--input-bg-hover: rgba(0,0,0,.1);
	--input-bg-hover-dark: rgba(0,0,0,.1);
	--input-focus: #238fff;
}
/* Controls */

input,
label,
select {
	display: block;
	width: 100%;
	font-size: 16px;
	line-height: 16px;
	color: black;
	margin: 0;
	padding: 0;
	border: none;		
	outline: none;
}
input[type=text] {
	background: rgba(0,0,0,.05);
	padding: var(--unit-3);
	border-radius: var(--unit-2);
}
input[type=text]:hover {
	background: rgba(0,0,0,.1);
}
input[type=text]:focus {
	box-shadow: inset 0 0 0 2px var(--input-focus);
}
input[type='radio'],
input[type='checkbox'] {
	/* Hide the native input control */
	position: absolute;
	opacity: 0;
	z-index: -1;
}
.input-radio {
	/* Wrapper for the control and label */
	display: flex;
	align-items: center;
	gap: var(--unit-2);
	padding: var(--unit-2) 0;
}
.radio-control {
	/* Fake input control we can style */
	box-sizing: border-box;
	width: var(--unit-4);
	height: var(--unit-4);
	background: var(--input-bg-hover);
	border-radius: 100px;
}
input[type='radio']:checked ~ .radio-control {
	background: url('https://uploads-ssl.webflow.com/5a2b03f5ebc0720001255947/5ae386fed8f7d0876bacdf69_radio-dot.svg') no-repeat center center var(--input-focus);
}
select {
	-moz-appearance: none; /* Firefox */
	-webkit-appearance: none; /* Safari and Chrome */
	appearance: none;
	background: var(--input-bg);
	background-image: url(../img/triangle-down.png);
	background-repeat: no-repeat;
	background-position: right var(--unit-3) center;
	background-size: 16px 16px;
	padding: var(--unit-3);
	border-radius: var(--unit-2);
​}
.input-label {
	font-weight: 700;
	margin-bottom: var(--unit-3);
}