:root {
	--duration: 100ms;
	--ease: ease;
	--shadow: 0 4px 12px rgba(0,0,0,.15);
	--side-spacing: 20px;
	--bottom-spacing: 20px;
}
* {
	box-sizing: border-box;
}
/* Page */
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 15px;
	color: #000;
}
.page {
	display: flex;
	flex-direction: row;
	height: 100%;
	overflow: hidden;
}
.config-area {
	padding: 20px;
	width: 240px;
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.preview-area {
	position: relative;
	background: #f5f5f5;
	padding: 20px;
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	flex-direction: column;
	gap: 12px;
}

/* Launcher */

.launcher-icon svg {
	width: 100%;
	height: 100%;
}
.launcher {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 6px;
	box-shadow: var(--shadow);
	cursor: pointer;
	transition: filter var(--duration) var(--ease);
}
.launcher:hover {
	filter: brightness(95%);
}
.launcher-label {
	font-size: 17px;
	font-weight: 600;
	-webkit-user-select: none;
}
.launcher.launcher--bubble {
	width: 60px;
	height: 60px;
	border-radius: 60px;
}
.launcher-icon {
	z-index: 2;
}
.launcher.launcher--bubble .launcher-icon {
	width: 32px;
	height: 32px;
}
.launcher.launcher--bubble .launcher-label {
	display: none;
}
.launcher.launcher--pill {
	padding: 0 16px;
	height: 44px;
	border-radius: 60px;
}
.launcher.launcher--pill .launcher-icon {
	width: 24px;
	height: 24px;
	margin-left: -2px;
}

/* Chat window */

#chat-window {
	content: "";
	display: none;
	opacity: 0;
	flex-direction: column;
	z-index: 3;
	position: absolute;
	right: var(--side-spacing);
	bottom: var(--bottom-spacing);
	height: calc(100% - var(--bottom-spacing) * 2);
	width: 375px;
	border-radius: 18px;
	/* max-height: 708px; */
	max-height: 446px;
	background: #fff;
	box-shadow: var(--shadow);
}
.chat-header {
	display: flex;
}
.chat-header--left,
.chat-header--right {
	flex: 1;
	padding: 12px;
}
.chat-close {
	width: 32px;
	height: 32px;
	border-radius: 32px;
	cursor: pointer;
	background-image: url("../img/minus.png");
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(0,0,0, .05);
	background-size: 20px 20px;
	margin-left: auto;
}
.chat-close:hover {
	background-color: rgba(0,0,0, .1);	
}

@media screen and (max-width: 400px) {
	.page {
		flex-direction: column;
		flex-flow: column-reverse;
		overflow: hidden;
	}
	.config-area {
		flex: 1;
		overflow: scroll;
		width: 100%;
	}
	.preview-area {
		flex: 1;
	}
}