:root {
	--shadow: 0 4px 12px rgba(0,0,0,.15);
	--buttonhover: hsl(0, 0%, 97%);
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: #fafafa;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 15px;
	color: #000;
}
.view {
	background: #fff;
	width: 300px;
	height: 540px;
	border-radius: 18px;
	box-shadow: var(--shadow);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	overflow: hidden;
	position: relative;
}
.hscroll {
	position: relative;
	height: 268px;
}
.hscroll:before {
	content: "";
	width: 20px;
	height: 20px;
	position: absolute;
	left: 8px;
	bottom: 0;
	border-radius: 40px;
	background-image: url(../img/avatar.png);
	background-size: cover;
}
.hscroll-content {
	background: #fff;
	display: flex;
	flex-direction: horizontal;
	gap: 8px;
	position: absolute;
	left: 36px;
	transition: left 300ms ease;
	
}

.xma {
	border-radius: 16px;
	overflow: hidden;
	background: rgb(0 0 0 / .06);
	width: 208px;
	height: 268px;
}
.xma-content {
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.xma-text {
	display: flex;
	flex-direction: column;
	gap: 2px;
}
.xma-header {
	font-weight: 600;
	line-height: 20px;
}
.xma-description {
	font-size: 12px;
	line-height: 16px;
	color: rgba(0 0 0 / .5);
}
.xma-image {
	width: 100%;
}
.xma-controls {
	display: flex;
	flex-direction: column;
	gap: 6px;
}
.xma-button {
	border-radius: 8px;
	background: #fff;
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
}
.xma-button:hover {
	background: var(--buttonhover);
}
.paging{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	top: 136px;
	left: 0;
	right: 0;
	z-index: 2;
}
.paging-control {
	width: 32px;
	height: 32px;
	border-radius: 32px;
	background: #fff;
	box-shadow: var(--shadow);
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: center center;
}
.paging-control-tap-area {
	width: 44px;
	height: 268px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
.paging-control-tap-area:hover .paging-control {
	background-color: var(--buttonhover);	
}
.paging-control.paging-control--previous {
	background-image: url("../img/chevron-left.png");
}
.paging-control.paging-control--next {
	background-image: url("../img/chevron-right.png");

}